<% if @errors %>
<div id="errors_list">
  <h3><span>Something went wrong:</span></h3>
  <ul>
    <% @errors.each do |error| %>
      <li><p><%= error %></p></li>
    <% end %>
  </ul>
</div>
<% end %>

<main class="form-wrapper">
  <form id = "new_q_form" method="post" action="/questions">
    <div>
      <input type="text" name="title" placeholder="What's Your Question?"></input>
    </div>
    <div>
      <textarea rows="5" columns="10" name="body" placeholder="Explain"></textarea>
    </div>
    <input id="post_button" type="submit" value="Post">
  </form>
</main>
