<h1> <%= @user.username %> </h1>
<p id="user_show_bio"> FlapJack Overflow member since <%= @user.created_at.strftime("%m-%d-%Y") %></p>

<ol>
<%  @questions .each do |question| %>

<li> <a href="/questions/<%= question.id %>"> <%= question.title %> </a> </li>


<% end %>
</ol>
